body{
    color: #29e038;
    --main-color: #2cc197;
    --inactive-color: #cdccce;
    --bg-color: #fafafa;
    --test-color: #ff659360;
}


/* 
🍴  Eat
🚌 T ransport
🅿️  Parking
☕  Drink
🎞️  Movie
🛍️  Shopping
🛒  Groceries
📱  Phone
🏠  House 
⇆   Transfer
💳🡨 Income
💸🡪 Expense
💳  Using
💰  Saving
*/








